@import './_variables.scss';

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%button {
    padding: 8px;
    text-align: center;
    background: linear-gradient(90deg, $blue-violet-gradient) ;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: $main-content-font;
    letter-spacing: 1px;
    font-size: 18px;
    
    &:hover {
        background: linear-gradient(90deg, $revert-blue-violet-gradient);
    }
}

%form {
    @extend %flex-center;
    flex-direction: column;
    padding: 15px;
}

