// FONTS
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Delius+Swash+Caps&family=Mali:wght@400;700&display=swap");

$main-content-font: "Mali";
$title-nav-font: "Delius Swash Caps";

// COLORS

$banner-bg: rgba(99, 1, 190, 0.9);
$burger-menu-bg: rgba(88, 3, 167, 0.9);
$light-violet: rgba(190, 130, 255, 0.884);
$medium-violet: rgba(152, 63, 248, 0.884);
$blue-violet-gradient: rgba(9, 9, 121, 1) 0%, rgba(99, 1, 190, 1) 35%,
  rgba(163, 3, 164, 1) 100%;
$revert-blue-violet-gradient: rgba(163, 3, 164, 0.9) 0%,
  rgba(99, 1, 190, 0.9) 45%, rgba(9, 9, 121, 0.9) 100%;
$violet-orange-gradient: rgba(163, 3, 164, 0.9) 0%, rgba(253, 29, 29, 0.9) 50%,
  rgba(252, 176, 69, 0.7) 100%;
$gold: rgba(255, 162, 24, 0.884);
$red: rgb(250, 76, 76);
$light-green: rgb(65, 127, 80);
$beige: rgba(255, 245, 238, 0.8);

// BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
