// FONTS
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Delius+Swash+Caps&family=Mali:wght@400;700&display=swap");

$main-content-font : 'Mali';
$title-nav-font: 'Delius Swash Caps';

// COLORS
$light-green: #ACE1AF;
$medium-green: #00A86B;
$dark-green: #00573F;
$light-violet: rgba(190, 130, 255, 0.884);
$medium-violet: rgba(173, 97, 254, 0.884);
$blue-violet-gradient: rgba(9,9,121,1) 0%, rgba(99,1,190,1) 35%, rgba(163,3,164,1) 100%;
$revert-blue-violet-gradient: rgba(163,3,164,1) 0%,  rgba(99,1,190,1) 35%, rgba(9,9,121,1) 100%;
$violet-orange-gradient: rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%;

// BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;