// FONTS
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Delius+Swash+Caps&family=Mali:wght@400;700&display=swap");

$main-content-font: "Mali";
$title-nav-font: "Delius Swash Caps";

// COLORS

$banner-footer-bg: rgba(99, 1, 190, 0.9);
$burger-menu-bg: rgba(88, 3, 167, 0.9);
$light-violet: rgba(190, 130, 255, 0.884);
$medium-violet: rgba(152, 63, 248, 0.884);
$dark-violet: rgba(69, 4, 127, 0.9);
$blue-violet-gradient: rgba(9, 9, 121, 0.8) 0%, rgba(99, 1, 190, 0.8) 35%,
  rgba(163, 3, 164, 0.8) 100%;
$gold: rgb(255, 215, 0);
$red: rgb(250, 76, 76);
$orange: rgba(253, 105, 0, 0.696);
$light-green: rgb(110, 236, 141);
$beige: rgba(255, 245, 238, 0.8);
$pink: rgba(252, 138, 214, 0.75);
$light-pink: rgba(245, 169, 220, 0.25);
$dark-blue: rgba(19, 80, 101, 0.804);
$blue: rgba(165, 233, 255, 0.804);
$light-blue: rgba(125, 216, 247, 0.25);
$brown: rgba(176, 127, 73, 0.804);
$grey: rgba(187, 187, 186, 0.804);
$light-grey: rgba(187, 187, 186, 0.2);
$form-bg: rgba(185, 130, 244, 0.2);
$section-bg: rgba(69, 4, 127, 0.1);
$article-bg: rgba(104, 22, 139, 0.275);
$animal-img-frame: rgba(152, 63, 248, 0.35);

// BREAKPOINTS
$breakpoint-small-screens: 400px;
$breakpoint-medium-screens: 500px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-largeScreens: 1280px;
