@import "./_placeholders";
@import "./mixins";
@import "./variables";

form {
  @extend %flex-center;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  gap: 8px;
  padding: 32px;
  border-radius: 12px;
  background: $section-bg;

  .form-inputs {
    @extend %flex-center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  fieldset {
    @extend %flex-center;
    flex-direction: column;
  }

  input,
  fieldset,
  select,
  textarea {
    padding: 8px;
    width: 15em;
    border-radius: 8px;
    border: 0.5px solid $dark-violet;

    &:focus {
      outline: none;
      border: 3px solid $pink;
      box-shadow: 5px 5px 10px $dark-violet;
    }
  }

  textarea {
    resize: none;
  }

  select,
  input[type="number"] {
    text-align: center;
  }

  input[type="text"],
  select {
    padding: 12px;
  }

  input[type="submit"] {
    @extend %button;
    width: 10em;
  }

  .selected-image,
  .choose-image {
    width: 250px;
    height: 200px;
    transition: all 0.3s ease-in-out;
  }

  .selected-image img,
  .choose-image img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }
}

// ********** MEDIA QUERRIES **********

// ********** MEDIUM SCREENS **********

@include mediumScreens {
  form {
    .form-inputs {
      label,
      input,
      fieldset,
      select,
      textarea {
        width: 18em;
      }
    }
  }
}

// ********** TABLETS **********

@include tablet {
  form {
    .form-inputs {
      label,
      input,
      fieldset,
      select,
      textarea {
        width: 20em;
      }
    }
  }
}

// ********** DESKTOP **********

@include desktop {
  form {
  }
}
