@import "./_placeholders";
@import "./mixins";
@import "./variables";

form {
  @extend %flex-center;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  gap: 16px;
  padding: 32px;
  border-radius: 12px;
  background: $section-bg;

  .form-inputs {
    @extend %flex-center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  fieldset {
    @extend %flex-center;
    flex-direction: column;
  }

  legend {
    font-size: 14px;
    padding: 8px;
    text-align: center;
  }

  input,
  fieldset,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 0.5px solid $dark-violet;

    &:focus {
      outline: none;
      box-shadow: 5px 5px 10px $dark-violet;
    }
  }

  textarea {
    resize: none;
  }

  label,
  select,
  input[type="number"] {
    text-align: center;
  }

  input[type="text"],
  select {
    padding: 12px;
  }

  input[type="submit"] {
    @extend %button;
    width: 10em;
  }

  input[type="radio"]:focus {
    box-shadow: none;
  }

  .selected-image img {
    transform: scale(1.05);
    border: 3px solid #f00;
    opacity: 0.8;
  }

  .selected-image,
  .choose-image {
    width: 80%;
    margin: auto;
    padding: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .selected-image img,
  .choose-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #000;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.file-input label {
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.file-input input[type="file"] {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: $dark-violet;
  border-radius: 8px;
  padding: 12px;
}

.file-input input[type="file"]:focus {
  outline: none;
  box-shadow: 5px 10px 10px $dark-violet;
}

.cancel-confirm-buttons {
  @extend %flex-center;
  flex-direction: column-reverse;
  gap: 16px;
  width: 100%;
  
  .confirm {
    @extend %confirm-btn;
  }
  
  .cancel {
    @extend %cancel-btn;
  }
}

// ********** MEDIA QUERRIES **********

// ********** TABLET FORMAT **********

@include tablet {
  form {
    width: 75%;
    label,
    input,
    fieldset,
    select,
    textarea {
      width: 75%;
    }
    textarea {
      height: 25em;
    }
    .cancel-confirm-buttons {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

// ********** DESKTOP FORMAT **********

@include desktop {
  form {
    width: 65%;
    label,
    input,
    fieldset,
    select,
    textarea {
      width: 65%;
    }
  }
}
