@import "../../../assets/styles/_placeholders";
@import "../../../assets/styles/_mixins";
@import "../../../assets/styles/_variables";

.allArticles-main {
  @extend %table-component;
  flex-direction: column;

  th {
    background: $orange;
  }

  .home {
    background: $light-grey;
  }

  .link-container {
    padding: 32px;
    text-align: center;
    
    .link {
      @extend %button;
    }
  }
}
