@import "../../../../assets/styles/_placeholders";
@import "../../../../assets/styles/_variables";
@import "../../../../assets/styles/_mixins";

.article-page-main {
  padding: 16px;
  > section {
    > article {
      border-radius: 12px;
      background: $article-bg;
      box-shadow: 5px 5px 10px $dark-violet;

      .article-content {
        padding: 16px 32px;
        > em {
          padding: 16px;
          font-size: 0.9em;
        }
        > p {
          padding: 16px;
          text-align: justify;
        }
        > h3 {
          padding: 16px;
        }
      }
    }

    .article-image-container,
    .carousel-slide {
      width: 100%;
      > img {
        // object-fit: cover;
        width: 100%;
        border-radius: 12px 12px 0 0;
      }
    }
  }

  .carousel-slide {
    display: flex;
    justify-content: center;
  }

  // LINK BUTTON
  .link-container {
    padding-top: 16px;
    .link-button {
      padding: 16px;
      text-align: center;

      .link-to-page {
        @extend %button;
      }
    }
  }
  .not-found {
    text-align: center;
    color: $dark-violet;
    font-weight: 700;
  }
}

// ********** TABLET FORMAT **********

@include tablet {
  .article-page-main {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    article {
      width: 75%;
    }
  }
}

// ********** DESKTOP FORMAT **********

@include desktop {
  .article-page-main {
    article {
      width: 50%;
      line-height: 2;
    }
  }
}
