@import "../../../../assets/styles/_placeholders";
@import "../../../../assets/styles/_variables";
@import "../../../../assets/styles/_mixins";

.article-page-main {
  padding: 16px;
  > section {
    > article {
      border-radius: 12px;
      background: $article-bg;
      box-shadow: 5px 5px 10px $dark-violet;

      .article-content {
        padding: 16px 32px;
        > em {
          padding: 16px;
          font-size: 0.9em;
        }
        > p {
          padding: 16px;
          text-align: justify;
        }
        > h3 {
          padding: 16px;
        }
      }
    }

    // CAROUSEL AND IMAGES CONTAINERS
    .carousel,
    .carousel-slide,
    .article-image-container {
      height: 250px;
    }

    .carousel-slide img,
    .article-image-container img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
    }
  }

  // LINK BUTTON
  .link-container {
    padding-top: 16px;
    .link-button {
      padding: 16px;
      text-align: center;

      .link-to-page {
        @extend %button;
      }
    }
  }
  .not-found {
    text-align: center;
    color: $dark-violet;
    font-weight: 700;
  }
}

// ********** min 500px screens ***********

@include mediumScreens {
  .article-page-main > section .carousel,
  .article-page-main > section .carousel-slide,
  .article-page-main > section .article-image-container {
    height: 300px;
  }
}

// ********** TABLET FORMAT **********

@include tablet {
  .article-page-main {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    article {
      width: 75%;

      .carousel,
      .carousel-slide,
      .article-image-container {
        height: 350px;
      }
    }
  }
}

// ********** DESKTOP FORMAT **********

@include desktop {
  .article-page-main {
    article {
      width: 50%;
      line-height: 2;

      .carousel,
      .carousel-slide,
      .article-image-container {
        height: 400px;
      }
    }
  }
}
