@import "../../../../assets/styles/_placeholders";
@import "../../../../assets/styles/_variables";
@import "../../../../assets/styles/_mixins";

.article-page-main {
  padding: 16px;
  > section {
    > article {
      border-radius: 12px;
      background: $article-bg;
      box-shadow: 5px 5px 10px $dark-violet;

      .article-content {
        padding: 16px 32px;
        > em {
          padding: 16px;
          font-size: 0.9em;
        }
        > p {
          padding: 16px;
          text-align: justify;
        }
        > h3 {
          padding: 16px;
        }
      }
    }

    .article-image-container,
    .carousel-slide {
      width: 100%;
      height: 15em;
      max-height: 15em;
      > img {
        width: 100%;
        height: 100%;
        border-radius: 12px 12px 0 0;
      }
    }
  }

  .carousel-slide {
    display: flex;
    justify-content: center;
  }

  // LINK BUTTON
  .link-container {
    padding-top: 16px;
    .link-button {
      padding: 16px;
      text-align: center;

      .link-to-page {
        @extend %button;
      }
    }
  }
  .not-found {
    text-align: center;
    font-weight: 700;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 30px;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 5px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}

.modal-close:hover {
  color: #000;
}

// ********** MEDIUM SCREENS FORMAT **********

@include mediumScreens {
  .article-page-main {
    .article-image-container,
    .carousel-slide {
      height: 20em;
      max-height: 20em;
    }
  }
}

// ********** TABLET FORMAT **********

@include tablet {
  .article-page-main {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    article {
      width: 75%;
    }

    .article-image-container,
    .carousel-slide {
      height: 22em;
      max-height: 22em;
    }
  }
}

// ********** DESKTOP FORMAT **********

@include desktop {
  .article-page-main {
    article {
      width: 50%;
      line-height: 2;
    }
    .article-image-container,
    .carousel-slide {
      height: 25em;
      max-height: 25em;
    }
  }
}

// ********** LARGER SCREENS **********

@include largeScreens {
  .article-page-main {
    .article-image-container,
    .carousel-slide {
      height: 28em;
      max-height: 28em;
    }
  }
}
