@import "../../../assets/styles/_mixins";
@import "../../../assets/styles/_placeholders";
@import "../../../assets/styles/_variables";

.contactPage-main {
  @extend %flex-center;
  background: $section-bg;
  flex-direction: column;
  gap: 16px;

  > p {
    padding: 12px;
    text-align: justify;
  }

  .contact-form {
    gap: 16px;
    width: 90%;
  }
}
