@import "../../../../assets/styles/_placeholders";
@import "../../../../assets/styles/_variables";
@import "../../../../assets/styles/_mixins";

.animal-main {
  @extend %flex-center;

  .animal-container {
    @extend %card;
    position: relative;
    padding: 32px;
    width: 90%;

    .animal-description {
      text-align: justify;
    }

    .delete-icon-container {
      position: absolute;
      top: 15px;
      right: 15px;

      .delete-icon {
        @extend %bubble-icon;
        background: $red;
        color: $beige;
        width: 30px;
        height: 30px;

        &:hover {
          color: $red;
        }
      }
    }
    .update-icon-container {
      position: absolute;
      top: 15px;
      right: 55px;

      .update-icon {
        @extend %bubble-icon;
        width: 30px;
        height: 30px;
      }
    }
    
    .link-to-page {
      @extend %button;
    }

    // CAROUSEL AND IMAGES CONTAINERS
    .carousel,
    .carousel-slide,
    .animal-images-container {
      height: 100%;
    }

    .carousel-slide img,
    .animal-images-container img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}

// ********** MEDIA QUERRIES  **********

// ********** MEDIUM SCREENS FORMAT **********

@include mediumScreens {
  .animal-main {
    .animal-container {
      .delete-icon-container .delete-icon,
      .update-icon-container .update-icon {
        width: 40px;
        height: 40px;
      }
      .update-icon-container {
        right: 65px;
      }
    }
  }
}

// ********** TABLET FORMAT **********

@include tablet {
  .animal-main {
    .animal-container {
      width: 60%;
    }
  }
}

// ********** DESKTOP FORMAT **********

@include desktop {
  .animal-main {
    .animal-container {
      width: 50%;
    }
  }
}
