@import "../../../assets/styles/_placeholders";
@import "../../../assets/styles/_variables";
@import "../../../assets/styles/_mixins";

.servicesPage-main {
  @extend %flex-center;

  > section {
    @extend %section;
    
    > h2 {
      font-size: 32px;
    }

    > h2,
    h3 {
      color: $dark-violet;
    }

    > .services-container {
      @extend %article;
      flex-direction: column;

      .service {
        @extend %flex-center;
        flex-direction: column;
        width: 100%;
        align-self: center;
        position: relative;
        color: $pink;
        background: $dark-violet;
        border-radius: 12px;
        padding: 32px 16px;
        transition: all 0.15s ease-in-out;
        box-shadow: 5px 5px 10px $pink;

        &:hover {
          transform: scale(1.015);
          opacity: 0.95;
        }

        .service-category {
          position: absolute;
          top: 8px;
          right: 8px;
          color: $dark-violet;
          padding: 5px;
          font-size: 12px;
          border-radius: 8px;
          font-weight: 700;
        }

        .sitting {
          background: $blue;
        }

        .grooming {
          background: $green;
        }

        .service-text {
          width: 100%;
          text-align: center;
          padding: 8px;
        }

        .service-name {
          text-align: center;
          font-weight: 700;
          font-size: 1.25em;
          color: $beige;
        }

        .service-description {
          padding-bottom: 32px;
        }

        .service-price {
          text-align: right;
          background: $beige;
          color: $dark-violet;
          border-radius: 8px;
        }
      }
    }
  }
}

@include tablet {
  .servicesPage-main > section {
    > .services-container {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      .service {
        width: 48%;
        max-width: 48%;
      }
    }
  }
}

@include desktop {
  .servicesPage-main > section > .services-container {
    .service {
      width: 32%;
      max-width: 32%;
    }
  }
}
