@import "../../assets/styles/mixins";
@import "../../assets/styles/_placeholders";
@import "../../assets/styles/_variables";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Delius+Swash+Caps&family=Mali:wght@400;700&display=swap");

footer {
    @extend %flex-center;
    min-height: 250px;
    background-color: #000;
    width: 100%;

    .social-media-container {
        display: flex;
        width: 50%;
        background-color: #fff;
    }

    .social-media-link {
        width: 100px;
        height: 100px;
        background-color: $red;
        color: #fff;
        font-size: 20px;
    }
}