@import "../../../assets/styles/mixins";
@import "../../../assets/styles/_placeholders";
@import "../../../assets/styles/_variables";

main {
  display: flex;
  flex-direction: column;

  section:nth-child(1) {
    padding-top: 32px;
  }

  > section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 16px;
    background: $dark-violet;
    color: $beige;
    margin: 0 auto;

    > h3 {
      color: #fff;
      margin: 0 auto;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #fff;
    }
    .articles-container {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .link-button {
        text-align: center;

        .link-to-page {
          @extend %button;
          background: $dark-violet;
          color: #fff;
          transition: all 0.2s ease-in-out;
          padding: 5px;

          &:hover {
            background: $pink;
            color: $dark-violet;
            letter-spacing: normal;
          }
        }
      }
      > article {
        @extend %flex-center;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        text-align: justify;
        border-radius: 8px;
        background: #fff;
        color: $dark-violet;
        box-shadow: 5px 5px 10px #000;
      }

      .article-container {
        @extend %flex-center;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

// ********** TABLET FORMAT **********

@include tablet {
  main {
    > section {
      .articles-container {
        flex-flow: row wrap;
        justify-content: center;
        > article {
          width: 48%;
        }
        > article:nth-child(3) {
          width: 98%;
        }
      }

      .last-news-container {
        > article {
          width: 98%;

          .article-image {
            max-width: 80%;
          }
        }
      }
    }
  }
}

// ********** DESKTOP FORMAT **********

@include desktop {
  main {
    .presentation {
      .articles-container {
        > article {
          width: 31%;
        }
        > article:nth-child(3) {
          width: 31%;
        }
      }
    }
  }
}
