@import "../../assets/styles/_mixins";
@import "../../assets/styles/_placeholders";
@import "../../assets/styles/_variables";

header {
  @extend %flex-center;
  justify-content: center;
  padding: 20px;
  background: $banner-footer-bg;
  height: 100vh;

  .main-title {
    display: inline-block;
    font-family: $title-nav-font;
    font-size: 50px;
    color: $beige;
    text-shadow: 0.75px 0.75px 0.75px #000;
  }
}

// ********** MERDIA QUERRIES ***********

@include tablet {
  header {
    height: 120px;
    justify-content: flex-start;
  }
}
