@import "../../assets/styles/mixins";
@import "../../assets/styles/_placeholders";
@import "../../assets/styles/_variables";

.secondary-menu {
  > ul {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;

    > li {
      display: inline-block;
      border-radius: 8px;
      padding: 5px;
      margin: 0;
      cursor: pointer;

      &:hover {
        background-color: $beige;
        .secondary-menu-link {
          color: $banner-bg;
        }
        .logout-icon {
          color: $red;
        }
      }

      .secondary-menu-link {
        color: $beige;
        font-weight: 700;
        font-size: 35px;
      }

      .logout-icon {
        color: $red;
      }
    }
    .secondary-menu-auth-link {
      padding: 10px;
      border: 0.8px solid $beige;
      .secondary-menu-link {
        font-size: 25px;
      }
    }
  }
  @include tablet {
    > ul {
      justify-content: flex-end;
    }
  }
}
