@import '../../../assets/styles/_placeholders';

.admin-links-container {
    @extend %flex-center;
    width: 100%;
}

.admin-link {
    margin-right: 10px;
    text-decoration: none;

    &:hover .admin-link {
        color: #000;
    }
}