@import "../../assets/styles/_mixins";
@import "../../assets/styles/_placeholders";
@import "../../assets/styles/_variables";

.admin-links-container {
  @extend %flex-center;
  padding: 32px;
  gap: 8px;
  width: 100%;

  .admin-link {
    @extend %flex-center;
    padding: 8px;
    font-weight: 700;
    color: $dark-blue;
    text-decoration: none;

    &:hover {
      color: $gold;
    }
  }
}
