@import '../../../assets/styles/_variables';
@import '../../../assets/styles/placeholders';


// USER DETAILS
.user-avatar {
    height: 100px;
    width: 100px;
}

.user-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}